.editorContainer {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  // border-top: 1px solid #ddd;
  background-color: #fff;
  width: 100%;
  bottom: 0;

  // Add responsive styles for screen sizes less than 768px
  @media (max-width: 768px) {
    flex-direction: column; // Stack items vertically
    align-items: stretch; // Stretch items to take full width
  }
}

.texteditorWrapper {
  flex-grow: 1;
  width: 100%;
}

.textEditor {
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 8px;
  margin-right: 10px;

 
  @media (max-width: 768px) {
    margin-right: 0; 
    margin-bottom: 10px; 
  }
}

.buttonStyles{
  background: none;
  outline: none;
  border: none;
}
