.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 250px !important;
  height: 250px !important;
  border-radius: 10px !important;
}

.inCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.userNameWrapper {
  @extend .inCenter;
  margin-top: 20px;
}

.contentWrapper {
  padding-left: 16px;
  padding-right: 32px;
}

.displayName {
  font-size: 18px;
  font-weight: bold;
  color: #06334d;
  font-weight: bold !important;
  margin-left: 2px;
}

.userNameStyles {
  color: #5691b2;
  font-size: 14px;
  margin-bottom: 10px;
}

.statusStyles {
  font-size: 12px;
  color: #06334D;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 24px
}

.titleAndButtonContainer {
  @extend .inCenter;
  margin-top: 10px;
}

.emailAddressLabel {
  font-weight: 500;
  font-size: 11px !important;
  color: #3a7699;
}

.emailAddressStyle {
  font-weight: 500;
  color: #3a7699;
  font-size: 13px !important;
}

.contactLabel {
  margin-top: 15px;
  font-weight: 500;
  font-size: 11px;
  color: #3a7699;
}

.contactStyle {
  margin-top: 5px;
  font-weight: 500;
  color: #3a7699;
  font-size: 13px !important;
  margin-bottom: 15px;
}

.informationStyles {
  margin-top: 30px;
  font-weight: bold;
  font-size: 13px;
  color: #3a7699;
}

.editButton {
  background-color: #bce1ff !important;
  color: #06334d !important;
  width: 40px !important;
  min-width: 0 !important;
  height: 24px !important;
  font-size: 12px !important;
}
