// index.module.scss

.dialogTitle {
  color: #06334d;
  font-weight: bold;
  font-size: 20px !important; // Adjust as necessary for responsiveness
  @media (max-width: 768px) {
    font-size: 16px; // For small devices
  }
}

.dialogContent {
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 10px;
  height: 100%;
  overflow: hidden;
}

.formFieldContainer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dialogActions {
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.buttonContainer {
  padding-top: 0 !important; // Specific override
  justify-content: center;
}

.dividerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;

  .divider {
    width: 40%;
  }

  .orText {
    margin: 0 10px;
  }
}
