.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 60px;
  flex-direction: column;
  height: 100vh;
}

.profileContainer {
  max-height: 350px;
  height: 100%;
  border-bottom: 1px solid #E5E5E5;
  width: 100%;
}

.userInfo {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.avatar {
  width: 120px !important;
  height: 120px !important;
  margin-right: 20px;
  border-radius: 10px !important;
}

.userDetails {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.displayName {
  font-size: 20px;
  font-weight: bold;
  color: #06334D;
  font-weight: bold !important;
}

.username {
  font-size: 16px;
  color: #666;
}

.profileMessage {
  margin-top: 20px;
  width: 100%;
  color: #5691B2;

  span {
    font-weight: bold;
    color: #245E80;
  }
}

.chatContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
}

.messagesContainer {
 margin-left: 10px;
 margin-top: 5px;
 margin-bottom: 5px;
}
.messageRow {
  display: flex;
  align-items: flex-start;
  margin-bottom: 12px;
}

.messageAvatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.messageContentWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.messageHeader {
  display: flex;
  align-items: center;
  margin-top: 3px;
  gap: 8px; /* Space between sender name and timestamp */
}

.messageSender {
  color: #06334D;
  font-size: 14px;
  font-weight: 700;
  margin: 0; /* Remove default margin */
}

.messageTimestamp {
  font-size: 12px;
  color: gray;
}

.messageContent {
  font-size: 14px;
  color: #000000;
  font-weight: 400;
  margin-top: 4px; /* Space between timestamp and message */
}



.editorContainer {
  display: flex;
  align-items: center;
  padding: 12px;
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  width: 100%;
}
