// components/dmSpecificUser .module.scss

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 60px;
  flex-direction: column;
  height: 100vh;
}
