.container {
  // background: black;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 60px;
  height: 83px;
  border-bottom: 0.1px solid lightgray;
  flex-direction: column;

  .content {
    margin-left: 10px;
    width: 100%;
  }

  .newMessageTitle {
    font-size: 20px;
    color: #214f6d;
    font-weight: bold;
    margin-top: 10px;
  }

  span {
    font-size: 18px;
    color: #214f6d;
    font-weight: bold;
  }

  .toMessageStyles {
    margin-top: 20px;
    width: 100%;
  }
}
